*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.log
.db
/app/.idea/workspace.xml
/app/.idea/libraries
/app/build
/app/local.properties
/app/captures
/app/.gradle
/app/.DS_Store
/.idea